@model List<EmployeeDto>

@{
    ViewData["Title"] = "Employees";
}

<div>
    <h3 class="h3-above-table">Employees</h3>

    <form class="getting-form" asp-action="GetAllByProps" method="get">
        <input class="input-props" type="text" name="surname" placeholder="Surname or part of surname"/>
        <input class="input-props" type="text" name="name" placeholder="Name or part of name"/>
        <input class="input-props" type="text" name="middleName" placeholder="Middle name or part of middle name"/>
        <input class="input-props" type="text" name="workExperience" placeholder="Work experience (years)"/>
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
    </form>  

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Middle Name</th>
                <th>Position</th>
                <th>Work Experience (years)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in @Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Name</td>
                    <td>@employee.MiddleName</td>
                    <td>@employee.Position</td>
                    <td>@employee.WorkExperienceInYears</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="back-btn" href="/Home/Index">Back</a>
</div>