@model List<EmployeeDto>

@{
    ViewData["Title"] = "Employees";

    int index = 1;
    int workExp = ViewData["e_workExperience"] is null ? 0 : int.Parse(ViewData["e_workExperience"].ToString());
}

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Employees</h3>

    <form class="getting-form" asp-action="GetAllByProps" method="get">
        <input class="input-props" type="text" name="e_surname" placeholder="Surname or part of surname" value="@ViewData["e_surname"]" />
        <input class="input-props" type="text" name="e_name" placeholder="Name or part of name" value="@ViewData["e_name"]" />
        <input class="input-props" type="text" name="e_middleName" placeholder="Middle name or part of middle name" value="@ViewData["e_middleName"]" />
        <input class="input-props" type="number" name="e_workExperience" placeholder="Work experience (years)" value="@workExp"/>
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
    </form>  

    <a href="/Accounts/RegisterEmployee" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Middle Name</th>
                <th>Position</th>
                <th>Work Experience (years)</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@employee.Id</td>
                    <td>@employee.Surname</td>
                    <td>@employee.Name</td>
                    <td>@employee.MiddleName</td>
                    <td>@employee.Position</td>
                    <td>@employee.WorkExperienceInYears</td>
                    <td><a href="/Employees/Update?id=@employee.Id" class="ud-button">Update</a></td>
                    <td><a href="/Employees/Delete?id=@employee.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/Employees/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>