@model List<UsedSparePart>

@{
    ViewData["Title"] = "Used Spare Parts";

    int index = 1;
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Used Spare Parts</h3>

    <a href="/UsedSpareParts/Create" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name of spare part</th>
                <th>Spare part functions</th>
                <th>Name of fault</th>
                <th>Price</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usedSparePart in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@usedSparePart.SparePart.Name</td>
                    <td>@usedSparePart.SparePart.Functions</td>
                    <td>@usedSparePart.Fault.Name</td>
                    <td>@usedSparePart.Fault.Price + @usedSparePart.SparePart.Price</td>
                    <td><a href="/UsedSpareParts/Delete?id=@usedSparePart.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/UsedSpareParts/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/UsedSpareParts/GetAll">Back</a>
</div>
