@model List<Client>

@{
    ViewData["Title"] = "Employees";

    int index = 1;
}

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Clients</h3>

    <a href="/Accounts/RegisterClient" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th><a href="/Clients/Get?sortedFieldNumber=1">Surname 🠕🠗</a></th>
                <th><a href="/Clients/Get?sortedFieldNumber=2">Name 🠕🠗</a></th>
                <th>Middle Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in @Model)
            {
                <tr>
                    <th>@index</th>
                    <td>@client.Id</td>
                    <td>@client.Surname</td>
                    <td>@client.Name</td>
                    <td>@client.MiddleName</td>
                    <td><a href="/Clients/Update?id=@client.Id" class="ud-button">Update</a></td>
                    <td><a href="/Clients/Delete?id=@client.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/Clients/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>