@model List<Fault>

@{
    ViewData["Title"] = "Faults";
}

<div>
    <h3 class="h3-above-table">Faults</h3>

    <form class="getting-form" asp-action="GetAllByProps_Update" method="get">
        <input class="input-props" type="text" name="repairingModelName" placeholder="Name (or part of name) of repairing model" />
        <input class="input-props" type="text" name="name" placeholder="Fault name or part of fault name" />
        <input class="input-props" type="text" name="repairingMethods" placeholder="Part of srring of repairing methods" />
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Repairing Model</th>
                <th>Repairing Methods</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fault in @Model)
            {
                <tr>
                    <td>@fault.Id</td>
                    <td><a href="/Faults/Update?id=@fault.Id" style="text-decoration: underline;">@fault.Name</a></td>
                    <td>@fault.RepairingModel.Name</td>
                    <td>@fault.RepairingMethods</td>
                    <td>@fault.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>