@model List<Fault>

@{
    ViewData["Title"] = "Faults";

    int index = 1;
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Faults</h3>

    <form class="getting-form" asp-action="GetAllByProps" method="get">
        <input class="input-props" type="text" name="f_repairingModelName" placeholder="Name (or part of name) of repairing model" value="@ViewData["f_repairingModelName"]" />
        <input class="input-props" type="text" name="f_name" placeholder="Fault name or part of fault name" value="@ViewData["f_name"]" />
        <input class="input-props" type="text" name="f_repairingMethods" placeholder="Part of srring of repairing methods" value="@ViewData["f_repairingMethods"]" />
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
        <a class="a_addit" href="/Orders/GetFaultsByClient">Search by clients</a>
    </form>  

    <a href="/Faults/Create" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th><a href="/Faults/Get?sortedFieldNumber=1">Name 🠕🠗</a></th>
                <th><a href="/Faults/Get?sortedFieldNumber=2">Repairing Model 🠕🠗</a></th>
                <th>Repairing Methods</th>
                <th><a href="/Faults/Get?sortedFieldNumber=3">Price 🠕🠗</a></th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fault in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@fault.Name</td>
                    <td><a href="/RepairingModels/GetById?id=@fault.RepairingModelId" style="text-decoration: underline;">@fault.RepairingModel.Name</a></td>
                    <td>@fault.RepairingMethods</td>
                    <td>@fault.Price</td>
                    <td><a href="/Faults/Update?id=@fault.Id" class="ud-button">Update</a></td>
                    <td><a href="/Faults/Delete?id=@fault.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/Faults/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>