@model List<SparePartDto>

@{
    ViewData["Title"] = "Spare Parts";

    int index = 1;
}

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Spare Parts</h3>

    <a href="/SpareParts/Create" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th>Name</th>
                <th>Functions</th>
                <th>Price</th>
                <th>Equipment Type</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sparePart in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@sparePart.Id</td>
                    <td>@sparePart.Name</td>
                    <td>@sparePart.Functions</td>
                    <td>@sparePart.Price</td>
                    <td>@sparePart.EquipmentType</td>
                    <td><a href="/SpareParts/Update?id=@sparePart.Id" class="ud-button">Update</a></td>
                    <td><a href="/SpareParts/Delete?id=@sparePart.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/SpareParts/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>