@model OrdersClientsEmployeesViewModel

@{
    ViewData["Title"] = "Orders";

    var clientsFio = Model.Clients
       .Select(i => new SelectListItem() 
       { Text = $"{i.Surname} {i.Name} {i.MiddleName}", 
         Value = $"{i.Surname} {i.Name} {i.MiddleName}" })
       .ToList();

    var employeesInfo = Model.Employees
       .Select(i => new SelectListItem() 
       { Text = $"{i.Surname} {i.Name} {i.MiddleName}, {i.Position}", 
         Value = $"{i.Surname} {i.Name} {i.MiddleName}, {i.Position}" })
       .ToList();

    int index = 1;

    string client = ViewData["o_clientFio"] is null ? "Client" : ViewData["o_clientFio"].ToString();
    string employee = ViewData["o_employeeFio"] is null ? "Employee" : ViewData["o_employeeFio"].ToString();
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Orders</h3>

    <form class="getting-form" asp-action="GetAllByProps" method="get">
        <div class="date-container">
            <span>Order date:</span>
            <input type="date" name="o_dateTime" style="margin-left: 15px;"/>
        </div>
   
        <select class="select-props" name="o_clientFio" asp-items="@clientsFio">
            <option selected>@client</option>
        </select>
        <select class="select-props" name="o_employeeFio" asp-items="@employeesInfo">
            <option selected>@employee</option>
        </select>
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
    </form>  

    <a href="/Orders/CreateForAdmin" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Order Date</th>
                <th>Equipment Serial Number</th>
                <th>Equipment Return Date</th>
                <th>Client</th>
                <th>Fault</th>
                <th>Serviced Store</th>
                <th>Employee</th>
                <th>Price</th>
                <th>Guarantee (months)</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in @Model.Orders)
            {
                <tr>
                    <td>@index</td>
                    <td>@order.OrderDate</td>
                    <td>@order.EquipmentSerialNumber</td>
                    <td>@order.EquipmentReturnDate</td>
                    <td>@order.Client.Surname @order.Client.Name @order.Client.MiddleName</td>
                    <td>@order.Fault.Name, @order.Fault.RepairingModel.Name</td>
                    <td>@order.ServicedStore.Name</td>
                    <td>@order.Employee.Surname @order.Employee.Name @order.Employee.MiddleName, @order.Employee.Position</td>
                    <td>@order.Price</td>
                    @if (@order.Guarantee)
                    {
                        <td>@order.GuaranteePeriodInMonth</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                    <td><a href="/Orders/Update?id=@order.Id" class="ud-button">Update</a></td>
                    <td><a href="/Orders/Delete?id=@order.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/Orders/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>