@model OrderUpdatedViewModel

@{
    ViewData["Title"] = "Orders";
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div>
    <h3>Order</h3>

    <form class="creation-form" method="post" asp-action="Update">
        <div class="field-container">
            <label>Repairing Model:</label>
            <label>&nbsp;&nbsp;Name: @Model.RepairingModelName</label>
            <label>&nbsp;&nbsp;Specifications: @Model.RepairingModelSpecifications</label>
            <label>&nbsp;&nbsp;Particular Qualities: @Model.RepairingModelParticularQualities</label>
            <br />
            <label>Fault Name: @Model.FaultName</label>
            <br />
        </div>
        
        <div class="field-container">
            <label>Id</label>
                <input class="input-props" type="text" name="id" value="@Model.Id" readonly />
            <br>
        </div>
        
        <div class="field-container">
            <label asp-for="RepairingMethods">Repairing Methods</label>
            <div>
                <textarea style="height: 130px; width: 350px;" class="input-props" asp-for="RepairingMethods"></textarea>
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="RepairingMethods"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="RepairingTimeInDays">Repairing Time (Days)</label>
            <div>
                <input class="input-props" type="number" asp-for="RepairingTimeInDays" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="RepairingTimeInDays"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="Price">Price</label>
            <div>
                <input class="input-props" type="number" asp-for="Price" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="Price"></span>
            </div>
        </div>

        <div class="field-container">
            <label asp-for="GuaranteeInMonth">Guarantee (Months)</label>
            <div>
                <input class="input-props" type="number" asp-for="GuaranteeInMonth" />
                <span class="error-mes-span" style="color: red; font-size: 90%;" asp-validation-for="GuaranteeInMonth"></span>
            </div>
        </div>

        <div class="action-btn-container">
            <button class="action-btn" type="submit">Submit</button>
        </div>
    </form>

    <a class="back-btn" href="/Home/Index">Back</a>
</div>