@{
    ViewData["Title"] = "Repairing Modek=ls";
}

<div>
    <h3 class="h3-above-table">Repairing Models</h3>

    <form class="getting-form" asp-action="GetAllByProps_Update" method="get">
        <input class="input-props" type="text" name="name" placeholder="Name of repairing model" />
        <button style="margin-top: 10px" class="action-btn" type="submit">Search</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Specifications</th>
                <th>ParticularQualities</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repairingModel in @Model)
            {
                <tr>
                    <td>@repairingModel.Id</td>
                    <td><a href="/RepairingModels/Update?id=@repairingModel.Id" style="text-decoration: underline;">@repairingModel.Name</a></td>
                    <td>@repairingModel.Manufacturer</td>
                    <td>@repairingModel.Specifications</td>
                    <td>@repairingModel.ParticularQualities</td>
                    <td><img src="@repairingModel.PhotoUrl" alt="@repairingModel.Name" /></td>
                </tr>
            }
        </tbody>
    </table>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>