@model List<RepairingModelDto>

@{
    ViewData["Title"] = "Repairing Models";

    int index = 1;
}

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Repairing Models</h3>

    <a href="/RepairingModels/Create" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Id</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Specifications</th>
                <th>ParticularQualities</th>
                <th>Photo</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repairingModel in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@repairingModel.Id</td>
                    <td>@repairingModel.Name</td>
                    <td>@repairingModel.Manufacturer</td>
                    <td>@repairingModel.Specifications</td>
                    <td>@repairingModel.ParticularQualities</td>
                    <td><img src="@repairingModel.PhotoUrl" alt="@repairingModel.Name"/></td>
                    <td><a href="/RepairingModels/Update?id=@repairingModel.Id" class="ud-button">Update</a></td>
                    <td><a href="/RepairingModels/Delete?id=@repairingModel.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/RepairingModels/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>