@model List<RepairingModelDto>

@{
    ViewData["Title"] = "Repairing Models";

    int index = 1;
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div style="padding-bottom: 30px;">
    <h3 class="h3-above-table">Repairing Models</h3>

    <a href="/RepairingModels/Create" class="a-create">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th><a href="/RepairingModels/Get?sortedFieldNumber=1">Name 🠕🠗</a></th>
                <th><a href="/RepairingModels/Get?sortedFieldNumber=2">Manufacturer 🠕🠗</a></th>
                <th>Specifications</th>
                <th>ParticularQualities</th>
                <th>Photo</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var repairingModel in @Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@repairingModel.Name</td>
                    <td>@repairingModel.Manufacturer</td>
                    <td>@repairingModel.Specifications</td>
                    <td>@repairingModel.ParticularQualities</td>
                    <td><img src="@repairingModel.PhotoUrl" alt="@repairingModel.Name"/></td>
                    <td><a href="/RepairingModels/Update?id=@repairingModel.Id" class="ud-button">Update</a></td>
                    <td><a href="/RepairingModels/Delete?id=@repairingModel.Id" class="ud-button">Delete</a></td>
                </tr>

                index++;
            }
        </tbody>
    </table>

    <a href="/RepairingModels/GetMore" class="a-create">Show 20 more entries</a>
    <a class="back-btn" href="/Home/AdminsPage">Back</a>
</div>