@model RepairingModelDto

@{
    ViewData["Title"] = "Repairing Model";
}

<div>
    <h3 class="h3-above-table">Repairing Model</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Specifications</th>
                <th>Particular Qualities</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Name</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Specifications</td>
                <td>@Model.ParticularQualities</td>
                <td><img src="@Model.PhotoUrl" alt="@Model.Name"/></td>
            </tr>
        </tbody>
    </table>
    <a class="back-btn" href="/Faults/GetAll">Back</a>
</div>
