@model RepairingModelDto

@{
    ViewData["Title"] = "Repairing Model";
}

<div id="dropdown" class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/Clients/GetAll">Clients</a>
        <a href="/Employees/GetAll">Employees</a>
        <a href="/Faults/GetAll">Faults</a>
        <a href="/Orders/GetAll">Orders</a>
        <a href="/RepairingModels/GetAll">Repairing Models</a>
        <a href="/ServicedStores/GetAll">Serviced Stores</a>
        <a href="/SpareParts/GetAll">Spare Parts</a>
        <a href="/UsedSpareParts/GetAll">Used Spare Parts</a>
        <a href="/Users/GetAll">Users</a>
    </div>
</div>

<div>
    <h3 class="h3-above-table">Repairing Model</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Specifications</th>
                <th>Particular Qualities</th>
                <th>Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Manufacturer</td>
                <td>@Model.Specifications</td>
                <td>@Model.ParticularQualities</td>
                <td><img src="@Model.PhotoUrl" alt="@Model.Name"/></td>
            </tr>
        </tbody>
    </table>
    <a class="back-btn" href="/Faults/GetAll">Back</a>
</div>
